profile: ${profile}

autoscaleMin: 2
replicaCount: 2

meshConfig:
  accessLogFile: ${access_log_file}
  outboundTrafficPolicy:
    mode: REGISTRY_ONLY

global:
  multiCluster:
    clusterName: ${cluster_name}
